/** FONTS SIZES **/

/** GLOBAL **/
$font-size-body: 1.6rem;
$font-size-h1: 7rem;
$font-size-h2: 3.6rem;
$font-size-h3: 3rem;
$font-size-h4: 2.4rem;
$font-size-h5: 2rem;
$font-size-h6: 1.6rem;
$font-size-p: 1.6rem;

/** HEADER **/
$font-size-navbardark-navlink: 1.6rem;

/** CAROUSELS **/
$font-size-itemcarousel-cardtile: 1.6rem;
$font-size-itemcarousel-cardprice: 2rem;
$font-size-itemcarousel-btn: 1.6rem;

/** BANNERS **/
$font-size-hoverbanner-big-p: 2.5rem;
$font-size-hoverbanner-small-p: 2rem;
$font-size-bannerservice-mediamax575-h1: 2rem;
$font-size-bannerservice-mediamax575-h3: 1rem;
$font-size-bannerservice-mediamin576-h1: 4rem;
$font-size-bannerservice-mediamin576-h3: 2rem;
$font-size-bannerservice-mediamin992-h1: 7rem;
$font-size-bannerservice-mediamin576-h3: 3rem;
$font-size-bannertop-mediamax575-h1: 3rem;
$font-size-bannertop-mediamin576-h1: 5rem;
$font-size-bannertop-mediamin768-h1: 7rem;

/** GALLERIES **/
$font-size-cardgallery-gallerymenu-li: 1.6rem;
$font-size-cardgallery-galleryitem-cardtitle: 1.6rem;
$font-size-cardgallery-galleryitem-cardprice: 2rem;
$font-size-cardgallery-galleryitem-btn: 1.6rem;

/** MODALS **/
$font-size-modalcontent-button: 1.6rem;

/** CONTACTO **/
$font-size-contacto-contactinfo-h5: 1.8rem;
$font-size-contacto-contactform-input: 1.5rem;
$font-size-contacto-contactform-textarea: 1.5rem;
$font-size-contacto-contactform-button: 1.6rem;

/** FOOTER **/
$font-size-footer-footertop-footercontact-panda: 1.4rem;
$font-size-footer-footertop-footernewsletter: 1.4rem;
$font-size-footer-credits: 1.3rem;
$font-size-footer-sociallinks: 1.8rem;

/** WHATSAPP **/
$font-size-whatsappbutton-fawhatsapp: 4rem;
